@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@keyframes header-logo-bounce {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes btn-shake-1 {
  0% {
    transform: rotate(-3deg);
  }
  33% {
    transform: rotate(3deg);
  }
  66% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes btn-shake-2 {
  0% {
    transform: rotate(3deg);
  }
  33% {
    transform: rotate(-3deg);
  }
  66% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes snippets-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes snippets-slide-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes clipboard-slide-down {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes tools-slide-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Headings */
.h {
  color: #4c545d;
  font-weight: 600;
  text-align: center;
}

.h--large {
  font-size: 1.66rem;
}

@media (min-width: 769px) {
  .h--large {
    font-size: 2.48rem;
  }
}

.h--big {
  font-size: 1.61rem;
}

@media (min-width: 769px) {
  .h--big {
    font-size: 1.93rem;
  }
}

.h--med {
  font-size: 1.22rem;
}

@media (min-width: 769px) {
  .h--med {
    font-size: 1.3rem;
  }
}

/* Paragrahps */
.text {
  color: #9fabb2;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.text--big {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .text--big {
    font-size: 1.13rem;
  }
}

.text--med {
  font-size: 0.9rem;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .text--med {
    font-size: 1.01rem;
  }
}

.text--small {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .text--small {
    font-size: 0.88rem;
  }
}

/* Buttons */
.btn {
  position: relative;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  border: none;
  width: 100%;
  height: 51px;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

@media (min-width: 769px) {
  .btn {
    height: 55px;
    width: 224px;
    font-size: 1rem;
  }
}

.btn:focus {
  outline: 1px dashed rgba(97, 115, 255, 0.2);
  outline-offset: 5px;
}

.btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 300ms ease-in-out;
}

.btn--cyan {
  background: #26baa4;
  border-bottom: 3px solid #1d907f;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(38, 186, 164, 0.4);
  animation: btn-shake-1 1000ms ease-in;
}

.btn--cyan::before {
  background: #2acfb7;
}

.btn--cyan:hover {
  border-color: #26baa4;
  transform: scale(0.98);
}

.btn--cyan:hover::before {
  transform: scaleY(1);
  transform-origin: top;
}

@media (min-width: 769px) {
  .btn--cyan {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.btn--blue {
  background: #6173ff;
  border-bottom: 3px solid #475dff;
  box-shadow: 0 8px 20px rgba(97, 115, 255, 0.4);
  animation: btn-shake-2 1000ms ease-in;
}

.btn--blue::before {
  background: #7a8aff;
}

.btn--blue:hover {
  border-color: #6173ff;
  transform: scale(0.98);
}

.btn--blue:hover::before {
  transform: scaleY(1);
  transform-origin: top;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url("../../assets/img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 0 31px;
}

@media (min-width: 769px) {
  body {
    background: url("../../assets/img/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.header {
  margin-top: 128px;
  margin-bottom: 151px;
}

.header__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header__logo {
  margin-bottom: 55px;
  animation: header-logo-bounce 1000ms ease-in-out;
}

.header__heading {
  margin-bottom: 20px;
}

.header__subheading {
  margin-bottom: 48px;
  max-width: 530px;
}

@media (min-width: 1000px) {
  .header__subheading {
    max-width: 700px;
  }
}

@media (min-width: 769px) {
  .header__cta {
    display: flex;
  }
}

.snippets {
  margin-bottom: 154px;
}

.snippets.active .snippets__hero {
  animation: snippets-slide-left 1500ms forwards;
}

.snippets.active .snippets__feature-wrapper {
  animation: snippets-slide-right 1500ms forwards;
}

.snippets__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .snippets__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.snippets__heading {
  margin-bottom: 20px;
}

.snippets__subheading {
  margin-bottom: 70px;
  max-width: 720px;
}

.snippets__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 769px) {
  .snippets__content {
    flex-flow: row;
    align-self: flex-start;
  }
}

@media (min-width: 1100px) {
  .snippets__content {
    align-items: flex-start;
  }
}

.snippets__hero {
  opacity: 0;
}

@media (min-width: 769px) {
  .snippets__hero {
    position: relative;
    left: -63px;
    top: 10px;
  }
}

.snippets__image {
  width: 100%;
  margin-bottom: 72px;
}

@media (min-width: 769px) {
  .snippets__image {
    margin-bottom: 0;
  }
}

.snippets__feature-wrapper {
  opacity: 0;
}

@media (min-width: 1100px) {
  .snippets__feature-wrapper {
    margin-left: 46px;
    margin-top: 77px;
  }
}

.snippets__feature:not(:last-child) {
  margin-bottom: 72px;
}

@media (min-width: 769px) {
  .snippets__feature:not(:last-child) {
    margin-bottom: 64px;
  }
}

.snippets__feature-heading {
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .snippets__feature-heading {
    text-align: left;
  }
}

@media (min-width: 769px) {
  .snippets__feature-text {
    max-width: 340px;
    text-align: left;
  }
}

.clipboard {
  margin-bottom: 66px;
}

.clipboard.active .clipboard__hero {
  animation: clipboard-slide-down 1500ms forwards;
}

.clipboard__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.clipboard__heading {
  margin-bottom: 20px;
}

.clipboard__subheading {
  margin-bottom: 50px;
  max-width: 720px;
}

@media (min-width: 769px) {
  .clipboard__subheading {
    margin-bottom: 100px;
  }
}

.clipboard__hero {
  opacity: 0;
}

.clipboard__hero img {
  width: 100%;
}

.tools {
  margin-bottom: 170px;
}

.tools.active .tools__feature:nth-child(1) {
  animation: tools-slide-right 1500ms forwards;
}

.tools.active .tools__feature:nth-child(2) {
  animation: tools-slide-right 1500ms forwards;
  animation-delay: 400ms;
}

.tools.active .tools__feature:nth-child(3) {
  animation: tools-slide-right 1500ms forwards;
  animation-delay: 800ms;
}

.tools__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tools__heading {
  margin-bottom: 20px;
}

.tools__subheading {
  margin-bottom: 70px;
}

.tools__feature-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 60px;
}

@media (min-width: 769px) {
  .tools__feature-wrapper {
    flex-flow: row;
    gap: 40px;
  }
}

.tools__feature {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: flex-start;
  opacity: 0;
}

@media (min-width: 769px) {
  .tools__feature {
    max-width: 340px;
  }
}

.tools__feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 33px;
}

.tools__feature-heading {
  margin-bottom: 20px;
}

.tools__feature-text {
  max-width: 400px;
}

.partners {
  margin-bottom: 154px;
}

.partners__container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

@media (min-width: 1000px) {
  .partners__container {
    max-width: 1110px;
    margin: 0 auto;
    gap: unset;
    justify-content: space-between;
  }
}

.partners__link {
  max-width: 200px;
  width: 100%;
  /* margin: 0 auto; */
}

@media (min-width: 1000px) {
  .partners__link {
    max-width: unset;
    width: initial;
    margin: 0;
  }
}

.partners__link img {
  display: block;
  margin: 0 auto;
}

.partners__link:focus {
  outline: 1px dashed rgba(97, 115, 255, 0.2);
  outline-offset: 5px;
}

.download {
  margin-bottom: 154px;
}

.download__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.download__heading {
  margin-bottom: 20px;
}

.download__subheading {
  margin-bottom: 52px;
  max-width: 690px;
}

.footer {
  margin: 0 -31px;
  background: #f4f5f6;
}

.footer__container {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px 0;
}

@media (min-width: 769px) {
  .footer__container {
    flex-flow: row;
    justify-content: space-between;
    padding: 40px 15px;
    max-height: 150px;
  }
}

.footer__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  .footer__logo {
    align-self: flex-start;
    margin-bottom: 0;
  }
}

.footer__logo img {
  width: 54px;
}

.footer__nav {
  flex: 2;
}

.footer__nav-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  list-style: none;
}

@media (min-width: 481px) {
  .footer__nav-list {
    flex-flow: wrap;
    justify-content: center;
    max-width: 400px;
  }
}

@media (min-width: 769px) {
  .footer__nav-list {
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 24px;
    height: 80px;
    margin-bottom: 0;
  }
}

@media (min-width: 769px) {
  .footer__nav-item {
    width: 150px;
  }
}

.footer__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #4c545d;
  text-decoration: none;
  overflow: hidden;
}

.footer__nav-link:focus {
  outline: 1px dashed rgba(97, 115, 255, 0.2);
  outline-offset: 5px;
}

.footer__nav-link span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

.footer__nav-link span::before {
  display: inline-block;
  content: attr(data-content);
  color: #26baa4;
  transform: translateX(100%);
  transition: transform 500ms ease;
  text-decoration: underline;
}

.footer__nav-link:hover span {
  transform: translateX(0);
}

.footer__nav-link:hover span::before {
  transform: translateX(0);
}

.footer__socials {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 30px;
}

@media (min-width: 769px) {
  .footer__socials {
    justify-content: center;
  }
}

.footer__socials-link {
  color: #4c545d;
  font-size: 1.4rem;
  transition: color 300ms ease-in;
}

.footer__socials-link:focus {
  outline: 1px dashed rgba(97, 115, 255, 0.2);
  outline-offset: 5px;
}

.footer__socials-link:hover {
  color: #26baa4;
}

.footer__attribution {
  position: absolute;
  display: flex;
  bottom: 0;
  color: #9fabb2;
  font-size: 0.8rem;
  gap: 20px;
  opacity: 0.5;
  padding: 10px;
}

@media (min-width: 769px) {
  .footer__attribution {
    left: 50%;
    transform: translate(-50%);
  }
}

.footer__attribution a {
  color: #4c545d;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.footer__attribution a:hover {
  text-decoration: underline;
  color: #26baa4;
}
/*# sourceMappingURL=main.css.map */