/* Headings */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.h {
  color: #4c545d;
  font-weight: 600;
  text-align: center;
}

.h--large {
  font-size: 1.66rem;
}

@media (min-width: 769px) {
  .h--large {
    font-size: 2.48rem;
  }
}

.h--big {
  font-size: 1.61rem;
}

@media (min-width: 769px) {
  .h--big {
    font-size: 1.93rem;
  }
}

.h--med {
  font-size: 1.22rem;
}

@media (min-width: 769px) {
  .h--med {
    font-size: 1.3rem;
  }
}

/* Paragrahps */
.text {
  color: #9fabb2;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.text--big {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .text--big {
    font-size: 1.13rem;
  }
}

.text--med {
  font-size: 0.9rem;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .text--med {
    font-size: 1.01rem;
  }
}

.text--small {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .text--small {
    font-size: 0.88rem;
  }
}

/* Buttons */
.btn {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  border: none;
  width: 100%;
  height: 51px;
  border-radius: 50px;
}

@media (min-width: 769px) {
  .btn {
    height: 55px;
    width: 224px;
    font-size: 1rem;
  }
}

.btn--cyan {
  background: #26baa4;
  border-bottom: 3px solid #1d907f;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(38, 186, 164, 0.4);
}

@media (min-width: 769px) {
  .btn--cyan {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.btn--blue {
  background: #6173ff;
  border-bottom: 3px solid #475dff;
  box-shadow: 0 8px 20px rgba(97, 115, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url("../../assets/img/bg-header-mobile.png");
  background-repeat: no-repeat;
  padding: 0 31px;
}

.header {
  margin-top: 128px;
  margin-bottom: 151px;
}

.header__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header__logo {
  margin-bottom: 55px;
}

.header__heading {
  margin-bottom: 20px;
}

.header__subheading {
  margin-bottom: 48px;
  max-width: 530px;
}

@media (min-width: 1000px) {
  .header__subheading {
    max-width: 700px;
  }
}

@media (min-width: 769px) {
  .header__cta {
    display: flex;
  }
}

.snippets {
  margin-bottom: 154px;
}

.snippets__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .snippets__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.snippets__heading {
  margin-bottom: 20px;
}

.snippets__subheading {
  margin-bottom: 70px;
  max-width: 720px;
}

.snippets__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 769px) {
  .snippets__content {
    flex-flow: row;
    align-self: flex-start;
  }
}

@media (min-width: 1100px) {
  .snippets__content {
    align-items: flex-start;
  }
}

@media (min-width: 769px) {
  .snippets__hero {
    position: relative;
    left: -63px;
    top: 10px;
  }
}

.snippets__image {
  width: 100%;
  margin-bottom: 72px;
}

@media (min-width: 769px) {
  .snippets__image {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .snippets__feature-wrapper {
    margin-left: 46px;
    margin-top: 77px;
  }
}

.snippets__feature:not(:last-child) {
  margin-bottom: 72px;
}

@media (min-width: 769px) {
  .snippets__feature:not(:last-child) {
    margin-bottom: 64px;
  }
}

.snippets__feature-heading {
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .snippets__feature-heading {
    text-align: left;
  }
}

@media (min-width: 769px) {
  .snippets__feature-text {
    max-width: 340px;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */