.download {
    margin-bottom: 154px;
    
    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__subheading {
        margin-bottom: 52px;
        max-width: 690px;
    }
}