.header {
    margin-top: 128px;
    margin-bottom: 160px;

    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: 55px;
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__subheading {
        margin-bottom: 48px;
    }

    &__cta {

        @media (min-width: 769px) {
            display: flex;
        }
    }
}