@keyframes header-logo-bounce {
    0% {
       opacity: 0;
       transform: translateX(-50px);
    }
    60% {
       opacity: 1;
       transform: translateX(20px);
    }
    80% {
       transform: translateX(-10px);
    }
    100% {
       transform: translateX(0);
    }
 } 

@keyframes btn-shake-1 {
    0% {
        transform: rotate(-3deg);
    }
    33% {
        transform: rotate(3deg);
    }
    66% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes btn-shake-2 {
    0% {
        transform: rotate(3deg);
    }
    33% {
        transform: rotate(-3deg);
    }
    66% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes snippets-slide-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes snippets-slide-right {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes clipboard-slide-down {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes tools-slide-right {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}